.header .container .content-mobile {
    height: 100%;
    width: 100%;
    padding: 0px 15px;
}
.header .container .content-mobile .logo {
    width: 100%;
    height: 50%;
    padding: 5px;
    cursor: pointer;
    margin-bottom: -20px;
}
.header .container .content-mobile .logo img {
    width: 7rem;
    height: 3.5rem;
    justify-content: center;
    margin-top: -30px;
}
/* css button category Product */
.header .container .content-mobile .category-product {
    height: 100%;
    width: 100%;
    margin-top: 15px;
}
.header .container .content-mobile .category-product .content .btn-menu {
    cursor: pointer;
}
.header .container .content-mobile .category-product .content .btn-menu img {
    width: 26px;
    height: 26px;
    padding-bottom: 3px;
    margin-left: 5px;
}

/* css search bar */
.header .container .content-mobile .search-bar {
    height: 40px;
    width: 100%;
    position: relative;
}
.header .container .content-mobile .search-bar input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 13px;
    padding-top: 3px;
    padding-left: 10px;
}
.header .container .content-mobile .search-bar .circle-icon {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 5px;
    right: 6px;
    padding: 2px;
    padding-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .container .content-mobile .search-bar .circle-icon:hover {
    background-color: #18abef66;
    cursor: pointer;
}
.header .container .content-mobile .search-bar #icon-search {
    font-size: 18px;
    color: #1867ef;
}
/* css profile and cart */
.header .container .content-mobile .cart {
    height: 100%;
    width: 100%;
}
.header .container .content-mobile .cart .circle-cart {
    height: 40px;
    width: 40px;
    margin-top: 8px;
    margin-left: -100%;
    border-radius: 50px;
    position: relative;
}
.header .container .content-mobile .cart .circle-cart:hover {
    background-color: #090d148a;
    cursor: pointer;
}

.header .container .content-mobile .cart .circle-cart img {
    height: 23px;
    width: 23px;
    position: absolute;
    top: 10px;
    left: 7px;
}
.header .container .content-mobile .cart .circle-cart .quantity-item-cart {
    font-size: 10px;
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: #18abef;
    color: #fff;
    border-radius: 25px;
    top: 5px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* menu */
.header .container .menu-mobile {
    position: fixed;
    top: 0px;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    transition: left 0.3s ease;
    background-color: #fff;
    overflow-x: auto;
    z-index: 999;
}

.menu-mobile .header-bar {
    position: fixed;
    height: 5rem;
    width: 100vw;
    background-color: #2a52be;
    justify-content: start;
}
.menu-mobile .logo {
    height: 100%;
    width: 12rem;
}
.menu-mobile .logo img {
    height: 4rem;
    width: 90%;
    margin: 0px;
    margin-top: 0.5rem;
}

.menu-mobile #btn-close {
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 30px;
    color: #fff;
}
.menu-mobile #btn-close:hover {
    color: gray;
    cursor: pointer;
}
/* meunu mobile content */
.header .menu-mobile .main-content {
    margin-top: 5rem;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    padding: 0px;
}
.header .menu-mobile .main-content .profile {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}
.header .menu-mobile .main-content .item {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
}
.header .menu-mobile .main-content .item .title {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.header .menu-mobile .main-content .item .icon-arrow {
    height: 50px;
    width: 50px;
    background-color: rgba(213, 213, 213, 0.584);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .menu-mobile .main-content .item .icon-arrow i {
    transition: transform 0.3s ease;
}
.header .menu-mobile .main-content .item .icon-arrow.rotate i {
    transform: rotate(180deg);
}
.header .menu-mobile .main-content .item .icon-arrow.rotate {
    background-color: #2a52be;
    color: #fff;
}
.header .menu-mobile .main-content .item-dropdown {
    height: auto;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.3s ease;
    max-height: 0;
    opacity: 0;
}
.header .menu-mobile .main-content .item-dropdown.show {
    max-height: 500px;
    opacity: 1;
}
.header .menu-mobile .main-content .item-dropdown .item {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
}
@media (max-width: 760px) {
    .header .container .content-mobile .cart {
        height: 100%;
        width: 100%;
        margin: 0px;
        margin-left: -18px;
    }
}
/* desktop menu */

.header .desktop-menu {
    margin-top: 5rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
}
.header .desktop-menu .sidebar {
    height: 100%;
    width: 500px;
    background-color: #fff;
}
.header .desktop-menu .overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.489);
    position: relative;
}
.header .desktop-menu .sidebar .item {
    height: 50px;
    width: 100%;
    display: flex;
    padding: 0px 10px;
}
.header .desktop-menu .sidebar .item:hover {
    background-color: #c9c9c977;
}
.header .desktop-menu .sidebar .item .title {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    gap: 10px;
}
.header .desktop-menu .sidebar .item .icon-arrow {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.header .desktop-menu .overlay .sidebar-tab {
    height: 100%;
    width: 700px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 10px;
}
#sidebar-tab .content {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
#sidebar-tab .content > .item {
    height: auto;
    width: 23.5%;
    padding: 10px;
}
#sidebar-tab .content > .item > a > .title {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: rgb(141, 141, 141);
    cursor: pointer;
}
#sidebar-tab .content > .item > a > .title:hover {
    color: #2a52be;
}
#sidebar-tab .content > .item > .content-child {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#sidebar-tab .content > .item > .content-child > a > .item {
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    color: rgb(163, 163, 163);
    cursor: pointer;
}
#sidebar-tab .content > .item > .content-child > a > .item:hover {
    color: #2a52be;
}
