body {
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.empty {
    margin-top: 7rem;
}

/* breadcrumb */
.breadcrumb1 {
    height: 30px;
    font-size: 15px;
    padding-top: 13px;
}

/* section slide */
#section-slide {
    height: 400px;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#section-slide .swiper-banner {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#section-slide .swiper-slide,
#section-slide .swiper-slide img {
    height: 100%;
    width: 100%;
}

#section-slide .swiper-slide img {
    background: center / cover no-repeat;
}

#section-slide .swiper-pagination {
    position: absolute;
    bottom: 30px;
}

/* section laptop */
#section-laptop {
    height: 420px;
    width: 100%;
}

#section-laptop .swiper-product-item {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 10px 9px;
}

#section-laptop .card-product {
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 3px;
}

#section-laptop .product-content {
    width: 100%;
    height: 100%;
}

#section-laptop .product-discount {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    position: relative;
}

#section-laptop .product-discount img {
    height: 40px;
    width: 100px;
    position: absolute;
    top: -15px;
    left: -20px;
}

#section-laptop .percent-discount {
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    top: -10px;
    left: -10px;
    color: #fff;
}

#section-laptop .product-thumbnail {
    height: 50%;
    width: 85%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-laptop .product-thumbnail img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#section-laptop .product-title {
    height: 20%;
    margin-top: 1%;
    width: 100%;
    font-size: 16px;
    color: #000;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#section-laptop .product-price {
    height: 8%;
    width: 100%;
    font-size: 18px;
    color: #2a52be;
    font-weight: 600;
    word-wrap: break-word;
}

#section-laptop .product-rate {
    height: 10%;
    width: 100%;
    padding: 5px;
    position: relative;
}

#section-laptop .product-rate img {
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#section-laptop .icon-heart {
    background-image: url("/asset/outside/icon/heart.png");
    height: 25px;
    width: 25px;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: background-image 0.3s;
}

#section-laptop .icon-heart:hover {
    background-image: url("/asset/outside/icon/heart-red.png");
    cursor: pointer;
}

#section-laptop .rate-point {
    position: absolute;
    bottom: -3px;
    left: 25px;
}

/* css section category product */
#section-category-product {
    margin-top: 30px;
    height: 240px;
    width: 100%;
    display: flex;
}

#section-category-product .swiper-category-product {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 20px 9px;
}

#section-category-product .category-product-card {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    cursor: pointer;
    margin-left: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}

#section-category-product .category-product-content {
    height: 100%;
    width: 100%;
}

#section-category-product .category-product-thumbnail {
    height: 80%;
    width: 100%;
}

#section-category-product .category-product-thumbnail img {
    height: 100%;
    width: 100%;
    background: center / cover no-repeat;
}

#section-category-product .category-product-name {
    height: 20%;
    width: 100%;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    text-align: center;
}

/* css product detail */
.section-product-info {
    height: 100%;
    width: 100%;
    display: flex;
}
.section-product-info .product-image {
    height: 100%;
    width: 60%;
    padding: 15px;
    padding-top: 0px;
}

.section-product-info .product-image #product-image-carousel {
    border: 1px solid lightgray;
    padding: 15px;
    background-color: #fff;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center; /* Căn giữa ngang */
    align-items: center;
}
.section-product-info .product-image #product-image-carousel img {
    width: 70%;
    margin-left: 15%;
    height: 100%;
    object-fit: contain; /* Không méo ảnh */
}
.section-product-info .product-image .f-thumbs {
    margin-top: 30px;
}
.section-product-info .product-image .f-thumbs .f-thumbs__slide {
    padding: 5px;
    background-color: #fff;
    border: 1px solid lightgray;
}

/* product info */
.section-product-info .product-detail-info {
    height: 100%;
    width: 40%;
    padding: 15px;
    padding-top: 0px;
}

.section-product-info .product-detail-info .product-versions {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
}
.section-product-info .product-detail-info .product-versions .version-card {
    height: 100px;
    width: 48%;
    border: 1px solid lightgray;
    padding: 15px;
    padding-bottom: 5px;
    border-radius: 3px;
    position: relative;
    background-color: #fff;
}
.section-product-info
    .product-detail-info
    .product-versions
    .version-card:hover {
    border: 1px solid #2a52be;
    cursor: pointer;
}
.section-product-info
    .product-detail-info
    .product-versions
    .version-card
    .card-active {
    position: absolute;
    height: 20px;
    width: 25px;
    color: #fff;
    display: flex;
    justify-content: center;
    justify-items: center;
    border-bottom-left-radius: 3px;
    background-color: #2a52be;
    top: 0px;
    right: 0px;
}
.section-product-info
    .product-detail-info
    .product-versions
    .version-card
    .content-card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.section-product-info
    .product-detail-info
    .product-versions
    .version-card
    .content-card
    .product-version-name {
    font-size: 12px;
    font-weight: 600;
    color: rgb(27, 23, 23);
}

.section-product-info
    .product-detail-info
    .product-versions
    .version-card
    .content-card
    .product-version-price {
    font-size: 13px;
    font-weight: 600;
    color: #25449a;
}
.section-product-info .product-detail-info .product-price {
    height: 175px;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid lightgray;
}
.section-product-info .product-detail-info .product-price .btn-price {
    background-color: #fff;
    height: 60px;
    width: 100%;
    color: #000;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: #2a52be;
    border: 2px solid #2a52be;
}
.section-product-info .product-detail-info .product-price .product-buy {
    height: 70px;
    width: 100%;
    display: flex;
    gap: 10px;
}
.section-product-info
    .product-detail-info
    .product-price
    .product-buy
    .btn-buy {
    width: 70%;
    height: 100%;
    border-radius: 3px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #466fde;
    font-size: 20px;
    font-weight: 600;
}
.section-product-info
    .product-detail-info
    .product-price
    .product-buy
    .btn-buy:hover {
    background-color: #466fdede;
    cursor: pointer;
}
.section-product-info
    .product-detail-info
    .product-price
    .product-buy
    .btn-add_to_cart {
    width: 30%;
    height: 100%;
    border-radius: 3px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #2a52be;
    font-size: 12px;
    font-weight: 600;
    border: 2px solid #2a52be;
    padding-top: 40px;
    cursor: pointer;
}
.section-product-info
    .product-detail-info
    .product-price
    .product-buy
    .btn-add_to_cart
    img {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 5px;
}
/*section description page product detail */
.section-description {
    height: 100%;
    width: 100%;
    padding: 15px;
}
.section-description .content {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    gap: 20px;
}
.section-description .content .product-description {
    height: auto;
    width: 70%;
    background-color: #ffffff;
    border-radius: 0px;
    border: 1px solid lightgray;
    padding: 20px 30px;
}

.section-description .content .product-description .title {
    font-size: 25px;
    font-weight: 400;
    display: flex;
    color: #3d3d3d;
    justify-content: center;
    margin-bottom: 20px;
}
.section-description .content .product-info {
    height: auto;
    width: 30%;
    background-color: #ffffff;
    border-radius: 0px;
    border: 1px solid lightgray;
    padding: 15px;
}

.section-description .content .product-info .title {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    height: 40px;
    color: #3d3d3d;
}
.section-description .content .product-info .content {
    height: auto;
    width: 100%;
    border: 2px solid lightgray;
    padding: 0px 10px;
}
.section-description .content .product-info .content .item {
    height: auto;
    width: 100%;
    display: flex;
    color: #3d3d3d;
    border-bottom: 1px dashed lightgray;
}
.section-description .content .product-info .content .item:last-child {
    border-bottom: none;
}
.section-description .content .product-info .content .item .name-item {
    height: auto;
    width: 50%;
    padding: 10px;
    padding: 10px 20px;
    font-size: 13px;
    display: flex;
    align-items: center;
}
.section-description .content .product-info .content .item .value-item {
    padding: 10px;
    height: auto;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.section-description .content .product-info .btn-info-detail {
    height: 45px;
    width: 100%;
    background-color: #fff;
    margin-top: 10px;
    color: #000;
    font-size: 18px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.section-description .content .product-info .btn-info-detail:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}
.section-description .content .product-info-detail {
    height: 100vh;
    width: 30vw;
    background-color: #ffffff;
    position: fixed;
    top: 0px;
    right: -30vw;
    z-index: 9999;
    transition: right 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.section-description .content .product-info-detail-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 250, 250, 0.596); /* mờ đen */
    z-index: 9998;
}
.section-description
    .content
    .product-info-detail
    .btn-product-info-detail-close {
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    right: 15px;
    top: 10px;
}
.section-description .content .product-info-detail .info-detail-header {
    height: 3.5rem;
    padding: 15px;
    border-bottom: 2px solid lightgray;
}

.section-description .content .product-info-detail .title {
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    top: 10px;
    left: 15px;
}
.section-description .content .product-info-detail .info-detail-main {
    height: 100%;
    width: 100%;
    overflow-x: auto;
}
.section-description
    .content
    .product-info-detail
    .info-detail-main
    .product-thumbnail {
    height: 30%;
    width: 70%;
    margin: 0 15%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-description
    .content
    .product-info-detail
    .info-detail-main
    .product-thumbnail
    img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.section-description .content .product-info-detail .info-detail-main .content {
    height: auto;
    width: 100%;
    padding: 15px;
}
.section-description
    .content
    .product-info-detail
    .info-detail-main
    .content
    .item {
    height: auto;
    width: 100%;
    display: flex;
    padding: 10px;
    border-bottom: 1px dashed lightgray;
}
.section-description
    .content
    .product-info-detail
    .info-detail-main
    .content
    .item
    .name-item {
    height: auto;
    width: 35%;
    display: flex;
    align-items: center;
}
.section-description
    .content
    .product-info-detail
    .info-detail-main
    .content
    .item
    .value-item {
    height: auto;
    width: 65%;
}
.section-description
    .content
    .product-info-detail
    .info-detail-main
    .content
    .title-item {
    font-size: 17px;
    font-weight: 600;
    height: 40px;
    margin-top: 10px;
}

.section-description
    .content
    .product-info-detail
    .btn-product-info-detail-close-mobile {
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    right: 15px;
    top: 10px;
    display: none;
}

/* css login page */
.login-section {
    height: auto;
    width: 100%;
    padding-top: 40px;
}

.login-section .main-login {
    height: 100%;
    width: 100%;
    justify-items: center;
}

.login-section .logo-login {
    height: 120px;
    width: 120px;
}

.login-section .logo-login img {
    height: 100%;
    width: 100%;
}

.login-section .main-login .title {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-align: center;
}

.login-section .main-login .form-login {
    margin-top: 20px;
    height: auto;
    width: 60%;
}

.login-section .main-login .form-login .form-input {
    height: 40px;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid lightgray;
    font-size: 16px;
    margin-bottom: 20px;
    color: #000;
}

.login-section .main-login .form-login .form-input::placeholder {
    color: rgb(146, 144, 144);
}
.login-section .main-login .form-login .btn-login-customer {
    height: 45px;
    width: 100%;
}

.login-section .main-login .form-login .btn-login-customer button {
    height: 100%;
    width: 100%;
    border: none;
    background-color: #2a52be;
    font-size: 18px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.login-section .main-login .form-login .btn-login-customer button:hover {
    background-color: #305dd8;
}
.login-section .main-login .login-with {
    font-size: 18px;
    color: #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-section .main-login .link-register {
    font-size: 15px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 50px;
}
.login-section .main-login .link-register a {
    color: #2a52be;
    cursor: pointer;
}
@media (max-width: 768px) {
    .login-section .main-login .form-login {
        width: 80%;
    }
}

/* css cart */
.list-item-cart {
    height: 750px;
    width: 50%;
    margin: 0 25%;
}

.list-item-cart .item {
    display: flex;
    gap: 15px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    height: 160px;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.list-item-cart .item .product-checkbox {
    width: 5%;
}
.list-item-cart .item .product-thumbnail {
    width: 25%;
    height: 100%;
}

.list-item-cart .item .product-thumbnail img {
    height: 100%;
    width: 100%;
}

.list-item-cart .item .product-info {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.list-item-cart .item .product-info .product-name {
    font-size: 18px;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #3d3d3d;
}
.list-item-cart .item .product-info .product-price {
    font-size: 18px;
    font-weight: 600;
    color: #2a52be;
}

.list-item-cart .item .action {
    width: 15%;
}
.list-item-cart .item .action .btn-delete {
    font-size: 20px;
    display: flex;
    justify-content: end;
    color: #db2d2d;
    cursor: pointer;
}
.list-item-cart .item .action .product-quantity {
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}
.list-item-cart .item .action .product-quantity .quantity-reduce {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ececec;
    cursor: pointer;
}
.list-item-cart .item .action .product-quantity .quantity-reduce:hover {
    background-color: #c1c1c1;
}
.list-item-cart .item .action .product-quantity .quantity-increase:hover {
    background-color: #c1c1c1;
}
.list-item-cart .item .action .product-quantity .quantity-increase {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ececec;
    cursor: pointer;
}

.view-price {
    height: 80px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.view-price .temporary-price {
    height: 100%;
    width: 60%;
    padding: 15px;
    font-size: 18px;
    color: #3d3d3d;
    display: flex;
    justify-content: start;
    align-items: center;
}
.view-price .btn-buy {
    height: 100%;
    width: 40%;
    padding: 15px;
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
}
.view-price .btn-buy .content {
    background-color: #2a52be;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: #fff;
}
.view-price .btn-buy .content:hover {
    background-color: #25449a;
}

/* page order */
.section-order {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.section-order .main {
    height: 100%;
    width: 45%;
}
.section-order .main .page-title {
    height: auto;
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 0px 10px;
    color: #919eab;
    text-transform: uppercase;
    font-size: 18px;
}
.section-order .main .page-title .info {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #919eab;
    font-weight: 600;
}
.section-order .main .page-title .payment {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #919eab;
    font-weight: 600;
}
.section-order .main .product-list {
    height: auto;
    width: 100%;
    margin: 15px 0px;
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 0px 15px;
}
.section-order .main .product-list .item {
    display: flex;
    height: 120px;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.section-order .main .product-list .thumbnail {
    height: 100%;
    width: 20%;
}
.section-order .main .product-list .thumbnail img {
    height: 100%;
    width: 100%;
}
.section-order .main .product-list .product-info {
    height: 100%;
    width: 60%;
}
.section-order .main .product-list .product-info .name {
    font-size: 18px;
    color: #3d3d3d;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.section-order .main .product-list .product-info .price {
    font-size: 17px;
    color: #2a52be;
}
.section-order .main .product-list .product-quantity {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3d3d3d;
}
.section-order .main .customer-info {
    height: 130px;
    width: 100%;
    border: 1px solid lightgray;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
}
.section-order .main .customer-info .title-name-and-tel {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section-order .main .customer-info .title-name-and-tel .name {
    font-size: 16px;
    color: #3d3d3d;
}
.section-order .main .customer-info .title-name-and-tel .tel {
    font-size: 16px;
    color: #3d3d3d;
}
.section-order .main .customer-info .email {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.section-order .main .customer-info .email input {
    outline: none;
    height: 50px;
    border: none;
    border-bottom: 1px solid lightgray;
    font-size: 16px;
}
.section-order .main .title {
    color: #3d3d3d;
    font-size: 18px;
    text-transform: uppercase;
    margin: 10px;
}
.section-order .main .address-receiver {
    height: auto;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 15px;
}
.section-order .main .address-receiver select {
    height: 45px;
}

.section-order .main .address-receiver input {
    border: none;
    border-bottom: 1px solid lightgray;
    outline: none;
}
.section-order .main .address-receiver label {
    font-size: 12px;
    font-weight: 400;
}
.section-order .main .address-receiver input:focus {
    border-bottom: 1px solid #25449a;
}
.section-order .main .bottom-bar {
    height: 80px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.section-order .main .bottom-bar .temporary-price {
    height: 100%;
    width: 60%;
    padding: 15px;
    font-size: 18px;
    color: #3d3d3d;
    display: flex;
    justify-content: start;
    align-items: center;
}
.section-order .main .bottom-bar .btn-buy {
    height: 100%;
    width: 40%;
    padding: 15px;
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
}
.section-order .main .bottom-bar .btn-buy .content {
    background-color: #2a52be;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: #fff;
}

/* profile css */
.section-profile {
    height: auto;
    width: 100%;
}
.section-profile .main {
    height: 100%;
    width: 100%;
}

.section-profile .main .header-profile {
    height: 140px;
    background-color: #ffffff;
    width: 100%;
    border-radius: 15px;
    border: 1px solid lightgray;
    padding: 10px 0px;
    display: flex;
    gap: 10px;
}
.section-profile .customer-info {
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.section-profile .customer-info .avatar {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-profile .customer-info .avatar .avatar-circle {
    height: 80px;
    width: 80px;
    border: 1px solid lightgray;
    border-radius: 50px;
    padding: 10px;
}
.section-profile .customer-info .avatar img {
    height: 100%;
    width: 100%;
}
.section-profile .customer-info .information {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.section-profile .customer-info .information .name {
    font-size: 18px;
    font-weight: 600;
    color: #3d3d3d;
}
.section-profile .customer-info .information .tel {
    font-size: 16px;
    color: gray;
}
.section-profile .sum-ordered {
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
    gap: 10px;
    border-left: 5px solid #25449a;
}
.section-profile .sum-ordered .icon-order {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-profile .sum-ordered .icon-order .order-circle {
    height: 80px;
    width: 80px;
    border: 1px solid lightgray;
    border-radius: 50px;
    padding: 15px;
}
.section-profile .sum-ordered .icon-order .order-circle img {
    height: 100%;
    width: 100%;
}
.section-profile .information {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.section-profile .sum-ordered .information .quantity {
    font-size: 20px;
    font-weight: 600;
    color: #3d3d3d;
}
.section-profile .sum-ordered .information .title {
    font-size: 16px;
    color: gray;
}

.section-profile .total-price {
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
    gap: 10px;
    border-left: 5px solid #25449a;
}
.section-profile .total-price .icon-invoice {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-profile .total-price .icon-invoice .invoice-circle {
    height: 80px;
    width: 80px;
    border: 1px solid lightgray;
    border-radius: 50px;
    padding: 15px;
}
.section-profile .total-price .icon-invoice .invoice-circle img {
    height: 100%;
    width: 100%;
}
.section-profile .total-price .information {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.section-profile .total-price .information .sum-total {
    font-size: 20px;
    font-weight: 600;
    color: #3d3d3d;
}
.section-profile .total-price .information .title {
    font-size: 16px;
    color: gray;
}
.section-profile .dashboard {
    height: 790px;
    width: 100%;
}
.section-profile .dashboard .main {
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.section-profile .sidebar {
    height: 220px;
    width: 25%;
    border-radius: 15px;
    padding-top: 10px;
    border: 1px solid lightgray;
}
.section-profile .sidebar .item {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: gray;
    padding-left: 25px;
    gap: 10px;
    cursor: pointer;
}
.section-profile .sidebar .item .icon {
    font-size: 25px;
}
.section-profile .sidebar .item:hover {
    border-left: 4px solid #25449a;
    background-color: #25449a41;
    color: #25449a;
    font-weight: 600;
}
.section-profile .sidebar .item.active {
    border-left: 4px solid #25449a;
    background-color: #25449a41;
    color: #25449a;
    font-weight: 600;
}
.section-profile .dashboard .content {
    height: 100%;
    width: 75%;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 15px;
}
.section-profile .dashboard .purchase-history {
    height: 45px;
    width: 100%;
}
.section-profile .dashboard .purchase-history .order-status {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.section-profile .dashboard .purchase-history .order-status .item {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    color: gray;
}
.section-profile .dashboard .purchase-history .order-status .item.active {
    border-bottom: 3px solid #25449a;
    color: #25449a;
    font-weight: 600;
}
.section-profile .dashboard .purchase-history .search-by-date {
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}
.section-profile .dashboard .purchase-history .search-by-date .title {
    font-size: 15px;
    color: #3d3d3d;
}
.section-profile .dashboard .purchase-history .search-by-date .date {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-profile .dashboard .purchase-history .search-by-date input {
    height: 80%;
    width: 150px;
    border: none;
    outline: none;
    border-bottom: 1px solid lightgray;
}
.section-profile .dashboard .purchase-history .view {
    height: 650px;
    width: 100%;
    overflow-y: auto;
}
.section-profile .dashboard .purchase-history .view .item {
    height: 120px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 10px;
}
.section-profile .dashboard .purchase-history .view .item .item-header {
    height: 15%;
    width: 100%;
    display: flex;
}
.section-profile .dashboard .purchase-history .view .item .item-header .left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.section-profile .dashboard .purchase-history .view .item .item-header .right {
    height: 100%;
    width: 50%;
}

.section-profile
    .dashboard
    .purchase-history
    .view
    .item
    .item-header
    .right
    .order-status {
    display: flex;
    justify-content: end;
    align-items: center;
}
.section-profile .dashboard .purchase-history .view .item .item-content {
    height: 85%;
    width: 100%;
    display: flex;
}
.section-profile .dashboard .purchase-history .view .item .item-content .left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: start;
    align-self: center;
    gap: 20px;
}
.section-profile
    .dashboard
    .purchase-history
    .view
    .item
    .item-content
    .left
    .thumbnail {
    height: 100%;
    width: 20%;
}
.section-profile
    .dashboard
    .purchase-history
    .view
    .item
    .item-content
    .left
    .thumbnail
    img {
    height: 100%;
    width: 100%;
}
.section-profile
    .dashboard
    .purchase-history
    .view
    .item
    .item-content
    .left
    .product-info {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}
.section-profile
    .dashboard
    .purchase-history
    .view
    .item
    .item-content
    .left
    .product-info {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}
.section-profile
    .dashboard
    .purchase-history
    .view
    .item
    .item-content
    .left
    .product-info
    .name {
    font-size: 16px;
    font-weight: 600;
}
.section-profile
    .dashboard
    .purchase-history
    .view
    .item
    .item-content
    .left
    .product-info
    .price {
    font-size: 14px;
    color: #25449a;
}
.section-profile .dashboard .purchase-history .view .item .item-content .right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.section-profile
    .dashboard
    .purchase-history
    .view
    .item
    .item-content
    .right
    .order-detail {
    text-decoration: underline;
    cursor: pointer;
}
.section-profile .dashboard .account-info {
    height: 100%;
    width: 100%;
}

.section-profile .dashboard .content .account-info .personal-info {
    height: 220px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px 20px;
}
.section-profile .dashboard .content .account-info .personal-info .info-header {
    height: 50px;
    width: 100%;
    display: flex;
}
.section-profile #profile-account-info .personal-info .info-header .left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #3d3d3d;
}
.section-profile #profile-account-info .personal-info .info-header .right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 16px;
    color: #25449a;
    cursor: pointer;
}
.section-profile #profile-account-info .personal-info .info-content {
    height: 150px;
    width: 100%;
    display: flex;
    gap: 50px;
}

.section-profile #profile-account-info .personal-info .info-content .left {
    height: 100%;
    width: 50%;
}
.section-profile #profile-account-info .personal-info .info-content .right {
    height: 100%;
    width: 50%;
}

.section-profile
    #profile-account-info
    .personal-info
    .info-content
    .left
    .item {
    height: 50px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid lightgray;
}
.section-profile
    #profile-account-info
    .personal-info
    .info-content
    .right
    .item {
    height: 50px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid lightgray;
}
.section-profile
    #profile-account-info
    .personal-info
    .info-content
    .left
    .item:last-child {
    border-bottom: none;
}
.section-profile
    #profile-account-info
    .personal-info
    .info-content
    .right
    .item:last-child {
    border-bottom: none;
}
.section-profile
    #profile-account-info
    .personal-info
    .info-content
    .right
    .item {
    height: 50px;
    width: 100%;
    display: flex;
}
.section-profile
    #profile-account-info
    .personal-info
    .info-content
    .left
    .item
    .title {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    color: gray;
}
.section-profile
    #profile-account-info
    .personal-info
    .info-content
    .right
    .item
    .title {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    color: gray;
}
.section-profile
    #profile-account-info
    .personal-info
    .info-content
    .right
    .item
    .value {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 14px;
    color: #3d3d3d;
}

.section-profile
    #profile-account-info
    .personal-info
    .info-content
    .left
    .item
    .value {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 14px;
    color: #3d3d3d;
}
/* address info */
.section-profile .dashboard .content .account-info .address-info {
    height: 320px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 20px;
}
.section-profile #profile-account-info .address-info .address-header {
    display: flex;
    height: 50px;
    width: 100%;
}
.section-profile #profile-account-info .address-info .address-header .title {
    width: 50%;
    height: 100%;
    font: 16px;
    font-weight: 600;
    color: #3d3d3d;
    display: flex;
    justify-content: start;
    align-items: center;
}

.section-profile
    #profile-account-info
    .address-info
    .address-header
    .btn-add-address {
    width: 50%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #25449a;
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
}
.section-profile #profile-account-info .address-info .address-content {
    height: 230px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* overflow-y: auto; */
}
.section-profile #profile-account-info .address-info .address-content .item {
    height: 50%;
    width: 49.4%;
    background-color: rgba(221, 221, 221, 0.396);
    border-radius: 10px;
    padding: 10px;
}
.section-profile
    #profile-account-info
    .address-info
    .address-content
    .item
    .item-header {
    display: flex;
    height: 20%;
    width: 100%;
}
.section-profile
    #profile-account-info
    .address-info
    .address-content
    .item
    .item-header
    .left {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #3d3d3d;
    width: 50%;
    height: 100%;
}
.section-profile
    #profile-account-info
    .address-info
    .address-content
    .item
    .item-header
    .right {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #3d3d3d;
    width: 50%;
    height: 100%;
}
.section-profile
    #profile-account-info
    .address-info
    .address-content
    .item
    .item-content {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.section-profile
    #profile-account-info
    .address-info
    .address-content
    .item
    .item-content
    .basic-info {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    color: #3d3d3d;
}
.section-profile
    #profile-account-info
    .address-info
    .address-content
    .item
    .item-content
    .basic-info
    .name {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.section-profile
    #profile-account-info
    .address-info
    .address-content
    .item
    .item-content
    .address-info1 {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    color: rgb(184, 183, 183);
}
.section-profile
    #profile-account-info
    .address-info
    .address-content
    .item
    .item-footer {
    height: 30%;
    width: 100%;
}
.section-profile
    #profile-account-info
    .address-info
    .address-content
    .item
    .item-footer
    .item-action {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.section-profile
    #profile-account-info
    .address-info
    .address-content
    .item
    .item-footer
    .item-action
    .right {
    display: flex;
    gap: 20px;
    font-size: 14px;
}
.section-profile
    #profile-account-info
    .address-info
    .address-content
    .item
    .item-footer
    .item-action
    .right
    .btn-delete {
    cursor: pointer;
    color: #db2d2d;
}
.section-profile
    #profile-account-info
    .address-info
    .address-content
    .item
    .item-footer
    .item-action
    .right
    .btn-update {
    cursor: pointer;
    color: #25449a;
}
.section-profile #password-and-connect {
    height: 170px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.section-profile #password-and-connect .reset-password {
    height: 100%;
    width: 50%;
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid lightgray;
}
.section-profile #password-and-connect .linked-accounts {
    height: 100%;
    width: 50%;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.section-profile #password-and-connect .reset-password .reset-header {
    display: flex;
    height: 50px;
    width: 100%;
}
.section-profile #password-and-connect .reset-password .reset-header .title {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    height: 100%;
    color: #3d3d3d;
    width: 50%;
}
.section-profile
    #password-and-connect
    .reset-password
    .reset-header
    .btn-update-password {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    height: 100%;
    color: #25449a;
    width: 50%;
    cursor: pointer;
}
.section-profile #password-and-connect .reset-password .reset-content {
    height: 100px;
    width: 100%;
    display: flex;
}

.section-profile #password-and-connect .reset-password .reset-content .left {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    color: gray;
}
.section-profile #password-and-connect .reset-password .reset-content .right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 14px;
    color: #3d3d3d;
}
/* css model add-address */

.section-profile .modal-add-address .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(42, 38, 38, 0.376); /* mờ đen */
    z-index: 9998;
}
.section-profile .modal-add-address .modal-content {
    height: 90vh;
    width: 35vw;
    position: fixed;
    background-color: #ffffff;
    top: 50%;
    right: 0vw;
    transform: translateY(-50%);
    z-index: 9999;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 10px 20px;
}
.section-profile .modal-add-address .modal-content .main-content {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-profile .modal-add-address .modal-content .header-content {
    height: 10%;
    width: 100%;
    display: flex;
}
.section-profile .modal-add-address .modal-content .footer-content {
    height: 20%;
    width: 100%;
}
.section-profile .modal-add-address .modal-content .item {
    height: 90px;
    width: 100%;
    font-size: 14px;
    color: #3d3d3d;
}
.section-profile .modal-add-address .modal-content .item select {
    height: 50px;
    width: 100%;
    border-radius: 15px;
}
.section-profile .modal-add-address .modal-content .item input {
    height: 50px;
    width: 100%;
    border-radius: 15px;
}
.section-profile .modal-add-address .modal-content .header-content .title {
    font-size: 16px;
    height: 100%;
    width: 50%;
    font-weight: 600;
    color: #3d3d3d;
    display: flex;
    justify-content: start;
    align-items: center;
}
.section-profile .modal-add-address .modal-content .header-content {
    border-bottom: 1px solid lightgray;
}
.section-profile
    .modal-add-address
    .modal-content
    .header-content
    .btn-close-modal-address {
    font-size: 26px;
    height: 100%;
    width: 50%;
    font-weight: 600;
    color: #3d3d3d;
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
}
.section-profile .modal-add-address .modal-content .main-content .title {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #3d3d3d;
}
.section-profile .modal-add-address .modal-content .main-content .list-item {
    height: 90%;
    width: 100%;
}

.section-profile .modal-add-address .footer-content .content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-profile .modal-add-address .footer-content .content #btn-add-address {
    height: 50px;
    width: 100%;
    border-radius: 15px;
    background-color: #25449a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.section-profile
    .modal-add-address
    .footer-content
    .content
    #btn-add-address:hover {
    background-color: #25449adc;
}
